/*  your css code here. If applicable */
:root{
	background-color:rgb(135,206,235);
}
div p:first-child{
	color:white;
	background-color:black;
}
div:nth-child(2){
	color:black;
}
div p:last-child{
	color:red;
}
li:nth-of-type(2n){
	background-color:grey;
}
li{
	width:50%;
	padding:10px;
}
#a,#b{
	font-size:22px;
}
#b,#c,#d{
	background-color:pink;
}